.menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;

  &--hamburger {
    @include breakpoint-until(767px) {
      flex-direction: column;
      align-items: flex-start;
      display: none;

      &:before {
        content: "";
        z-index: -1;
        position: fixed;
        top: 0;
        left: -50%;
        display: block;
        width: 5000px;
        height: 5000px;
        background: #f0f0f0;
      }
    }
    @include breakpoint-from(768px) {
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
  }

  &--vertical {
    flex-direction: column;
    align-items: flex-start;

    &:not(.open) {
      @include breakpoint-until(767px) {
      display: none;
      }
    }
  }

  &.open {
    position: relative;
    display: flex;
  }

  &--dark {
    @include breakpoint-until(767px) {
      &:before {
        background: #333333;
      }
    }

    a {
      color: white;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &-toggle {
    padding: 0;
    margin-right: 15px;
    height: 100%;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: 0;

    &--dark {
      color: white;

      svg {
        fill: inherit;
      }
    }

    &--hamburger {
      @include breakpoint-from(768px) {
        display: none;
      }
    }

    &.open .icon-menu {
      display: none;
    }

    &:not(.open) .icon-close {
      display: none;
    }
  }

  &__item {
    padding: 15px;

    @include breakpoint-until(767px) {
      width: 100%;
    }
    @include breakpoint-from(768px) {
      display: inline-block;
    }
  }

  &--vertical &__item {
    padding: 7.5px 0;
  }
}



