.nav {

  &--header {
    position: relative;
    z-index: 1030; // https://getbootstrap.com/docs/4.3/layout/overview/
    height: inherit;

    @include breakpoint-until(767px) {
    order: 0;
    }
  }

  &--footer {
    display: flex;
    z-index: -1;

    @include breakpoint-until(767px) {
      flex-direction: column;
    }
  }

  &--footer &__col:not(:last-child) {
    margin-right: 35px;
  }
}
